<div class= container>
  <div>
    <input type="date" [(ngModel)]="prenotazione.dataInizio" placeholder="data di Inizio prenotazione"/><br>
    <input type="date" [(ngModel)]="prenotazione.dataFine" placeholder="data di Fine prenotazione"/><br>
    <input [(ngModel)]="prenotazione.stato" placeholder="stato"/><br>
    <input [(ngModel)]="prenotazione.user_id" placeholder="userID"/><br>
    <input [(ngModel)]="prenotazione.auto_id" placeholder="autoID"/><br>
  </div>
  <div *ngIf="prenotazione.id" >
    <button (click)="goBack()">Annulla</button>
    <button (click)="save()">Salva</button>
  </div>
  <div *ngIf="!prenotazione.id" >
    <button (click)="goBack()">Annulla</button>
    <button (click)="add()">Aggiungi</button>
  </div>
</div>
