
<div class= container>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="date" name="dataInizio" formControlName="dataInizio"/><br>
    <input type="date" name="dataFine" formControlName="dataFine"/><br>
    <input type="text" name="stato"  placeholder="stato" formControlName="stato"/><br>
    <input type="text" name="auto_id"  placeholder="auto_id"  formControlName="auto_id"/><br>
    <input type="text" name="user_id"  placeholder="user_id"  formControlName="user_id"/>
    <div>
      <button (click)="goBack()">Annulla</button>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>

